.footer-container {
  background-color: #113f67;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container h2{
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  color: white;
}
