.container-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eee;
  border-radius: 5px;
}

.item-galeria {
  margin: 10px;
}

.item-galeria img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 50px;
}

.tittle-galeria {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0;
}

.item-galeria h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0;
}

